# dependencies
/client/yofferzClient/node_modules

# compiled output
/client/yofferzClient/dist
/client/yofferzClient/tmp
/client/yofferzClient/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/client/yofferzClient/.sass-cache
/client/yofferzClient/connect.lock
/client/yofferzClient/coverage
/client/yofferzClient/libpeerconnection.log
/client/yofferzClient/npm-debug.log
/client/yofferzClient/testem.log
/client/yofferzClient/typings
/client/yofferzClient/yarn-error.log

# e2e
/client/yofferzClient/e2e/*.js
/client/yofferzClient/e2e/*.map

# System Files
.DS_Store
Thumbs.db
