<div class="container" [@routerTransition] style="padding: 20px 0;">
	<div class="row">
    <h2><b>Privacy Policy</b></h2>    
    <div class="col-md-12 privacy">
        
        <p>
            This privacy policy sets out how we use and protects any information that you share with
            <b> www.yofferz.com</b> when you use this website. We value the trust you place in us.
        </p>
        <p>
            *Note: Our privacy policy is subject to change time to time without notice. 
            To make sure you are aware of the changes, please review this policy periodically.
             Also this privacy statement does not apply to our business partners, affiliates or 
            other third parties. Please review the privacy statements of the other parties with whom you may interact.
        </p>
        <p>
            <b>www.yofferz.com</b> is committed to ensuring that your privacy is protected. 
            Should we ask you to provide certain information by which you can be identified 
            when using this website, then you can be assured that it will only be used in 
            accordance with this privacy statement.


        </p>
        <p class="pheading">What information we collect?</p>
        <p>
            </p><ul>
                <li>	Your contact details such as customer name, email address, phone number, Gender, Location.</li>
                <li>Bank details can be collected only from the merchants for payment processing as required for internet banking or Our payment gateway partner is " PAYU" which ensure the highest standards of safety and security for your information.</li>
                <li> Your previous Download and transactions including the voucher details like pricing details, the date of download and Service selected.</li>
                <li>Information from optional online surveys on our or third party sites which may include demographic information (like gender, age, income) as well as service preferences / Selection of users.</li>
                <li> Cookies: Cookies is a piece of data stored by a website within a browser which enable the browser to remember information specific to a given user such as clicking particular buttons, logging in, or having read certain pages on our site. All leading Internet companies such as Amazon, Yahoo, Google and Facebook use cookies. You can set your browser to notify you when you are sent a cookie, and you can decide whether or not to accept it.</li>
                <li> Your session log information on our site which includes your navigation within the site, source of traffic, IP address (from which we can approximately determine user location), browser type, browser language, operating system, date and time of request etc.</li>
                <li>    Third party sign in information shared on our website such as Facebook, Twitter, Pinterest sign in information</li>
                <li> Email communication by any user or customer directly with yofferz.com such as enquiry about the voucher, registration, subscribe or unsubscribe request, order and transaction related information, disputes or complaints etc.</li>
            </ul>                                                                
        <p></p>
        <p>
            *Note: User generated content on the site shared by users via reviews, blogs, online chat or instant messages, discussion boards, forums, user testimonials etc. are not considered as personal information and is not subject to the terms of this privacy policy.
        </p>
        <p>
            Internal record keeping.
        </p>
        <p>
            We may use the information to improve our products and services.
        </p>
        <p>
            We may periodically send promotional emails about new products, special offers or other information which we 
            think you may find interesting using the email address which you have provided.
        </p>
        <p>
       	From time to time, we may also use your information to contact you for market 
        research purposes. We may contact you by email, phone, fax or mail. We may use the 
        information to customise the website according to your interests.
        </p>
        <p>
            If you believe that any information we are holding on you is incorrect or incomplete, 
            please write to or email us as soon as possible. 
            We will promptly correct any information found to be incorrect.
        </p>
       
       <p>Yofferz.com  provides all users with the opportunity to opt-out of receiving non-essential communications from us on behalf of our partners, and from us in general, after setting up an account. To remove your contact information from yofferz.com, please logon to <a href="http://www.yofferz.com"> www.yofferz.com</a> and click on unsubscribe.</p>
       
         <p>Questions regarding this statement should be directed to the following address:&nbsp;Support@yofferz.com</p>
    </div>
</div>
</div>