<div class="container" [@routerTransition] style="padding: 20px 0;">
	<div class="marginT20 row contact">
    <h2><b>About us</b></h2>
    <div class="col-md-12 whiteBg pad20">

        <p> Welcome to Yofferz.com!</p>
       
        <p>
            Our motto – Service Voucher / Coupon / Deals at discounted rates.  Downloading Voucher
            is completely FREE .  No credit card or online payment is required. You just need to
            pay at the outlet only to redeem the service.
        </p>

        <p> Our mission </p> 
      
        <p>  We help local businesses grow by introducing them to great new customers like you.</p>

        <p> Looking for more??</p>

        <p>
            Yofferz.com provides discount offer vouchers to the users for Free!! Customer need to take the appointment prior visiting the outlet to avail the offer. Customer need to present the SMS voucher at the outlet before redeeming the services and need to pay the discounted amount at the outlet.
        </p>
        <p>
            We have made this website with lots of thoughts and feedback from Users and Merchants. We're a team of dedicated, young, dynamic, energetic and smart enthusiasts willing to serve you the best deals amongst the city and help you save lots and lots of money so that there's no need for you to think twice before stepping in anywhere.
        </p>
        <p>
            We help local businesses grow by introducing them to great new customers like you.
        </p>
        <p>
            We have provided you the option to select the nearest deal, discount wise deal selection, payment wise deal selection. All you need to do is enter your mobile number to download the voucher, enter the OTP received to get the coupon. We provide the world class deals for Food and Beverage, Spa, Salon, Health and Fitness, Entertainment, Events, E-shopping and Service
        </p>
        <p>
            Whether a restaurant, cafe, lounge, salon or a spa, choose one and trust us you will get to know how passionately we are dedicated towards bringing the most bargains for you all!
        </p>
        <p>
            So now you know where to login and treat yourself with great deals if you are planning for a romantic date, a family dinner, chilling out at a cafe with friends, wanting a day out with your best friend to pamper yourselves or to spend sometimes unwinding and grooming yourself!
        </p>
        <p>
            Take your pick from the endless Offerz in town and get ready to bag the best discounts through the simple 3 step procedure "Search! Download! Redeem!" Rest be assured of prompt assistance that you would need! If you contact us, we'll do what it takes to make things right - and we'll do it fast!
        </p>
        <p>
            Email us on Support@Yofferz.com or speak with our executives on 999- 046- 8888
        </p>
    </div>
</div>
</div>