<div class="home" [@routerTransition] style="padding: 20px 0;">
	<div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <div class="search-deals-bar">
    	<div class="container">
	    	<form class="form-inline my-2 my-lg-0">
	         <div class="form-group input-group">
                    <span class="input-group-addon" style="background: #fff;padding: 9px;"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <input class="form-control" placeholder="Enter Your Location e.g. Dwarka" type="text" style="width: 494px; margin-right: 10px;">
                    <select class="form-control" style="width: 494px; margin-right: 10px;">
                         <option style="color:white;" value="1">Food &amp; Beverages</option>
                                <option value="3">Wellness</option>
                                <option value="2">SPA</option>
                                <option value="4">Entertainment</option>
                                <option value="5">Travel</option>
                                <option value="6">E-Shopping</option>
                                <option value="7">Services</option>
                    </select>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
	        </form>
        </div>
    </div>
    <div class="container" style="padding: 30px 0;">
	    <hr>
	    <div class="row">
	        <div class="col-xl-4 col-lg-6">
	            <app-stat [bgClass]="'card-info'" [icon]="'fa-cutlery'" [count]="26" [label]="'Deals in Food & Beverage'" ></app-stat>
	        </div>
	        <div class="col-xl-4 col-lg-6">
	            <app-stat [bgClass]="'card-info'" [icon]="'fa-heart'" [count]="12" [label]="'Deals in Wellness'" ></app-stat>
	        </div>
	        <div class="col-xl-4 col-lg-6">
	            <app-stat [bgClass]="'card-info'" [icon]="'fa-bed'" [count]="124" [label]="'Deals in SPA'" ></app-stat>
	        </div>
	       
	    </div>
	    <hr />
	    <div class="row">
            <div class="col-xl-4 col-lg-6">
                <app-stat [bgClass]="'card-info'" [icon]="'fa-file-video-o'" [count]="13" [label]="'Deals in Entertainment'"></app-stat>
            </div>
	        <div class="col-xl-4 col-lg-6">
	            <app-stat [bgClass]="'card-info'" [icon]="'fa-plane'" [count]="26" [label]="'Deals in Travel'" ></app-stat>
	        </div>
	        <div class="col-xl-4 col-lg-6">
	            <app-stat [bgClass]="'card-info'" [icon]="'fa-shopping-cart'" [count]="12" [label]="'Deals in E-Shopping'" ></app-stat>
	        </div>
	            
	    </div>
        <hr />
        <div class="row">            
            <div class="col-xl-12 col-lg-6">
                <app-stat [bgClass]="'card-success'" [icon]="'fa-tasks'" [count]="124" [label]="'Deals in Services'" ></app-stat>
            </div>       
        </div>      
    </div>
    <div class="info-box">
    	<div class="yo_bg">   		
    		<div class="container">
            <div class="row yo_hed">
                <span class="y_large">WHY YofferZ.com?</span>
            </div>
            <div class="row">
                <div class="col-md-4 y_box">
                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                    <span class="y_mid">FREE Download!</span>
                    <span class="y_sm">
                        All of our coupons are completely free to download.
                    </span>
                </div>
                <div class="col-md-4 y_box">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span class="y_mid">Crazy Discount Offerz!</span>
                    <span class="y_sm">
                        We work Hard to bring you exclusive discounted Offers you won't find anywhere else!
                    </span>
                </div>
                <div class="col-md-4 y_box">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="y_mid">My Shops</span>
                    <span class="y_sm">
                        Find your favorite shops online
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 y_box">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span class="y_mid">Easy Registration </span>
                    <span class="y_sm">
                        Easy registration process helps business to grow Online.
                    </span>
                </div>
                <div class="col-md-4 y_box">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span class="y_mid">Easy download</span>
                    <span class="y_sm">
                        No hassle: Enter your mobile no and OTP to get the discount Voucher
                    </span>
                </div>
                <div class="col-md-4 y_box">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="y_mid">No Account Required</span>
                    <span class="y_sm">
                        Vouchers are available for all, no membership required.
                    </span>
                </div>
            </div>
        </div>
    	</div>
    </div>
</div>