$bottomnav-background-color: #222;
$bottomnav-color : #fff;
.footer{
    .copyright{
        color: $bottomnav-color;
        font-size: 12px;
        text-align: right;
        width: 100%;
    }
    a{
        color: $bottomnav-color;
        font-size: 12px;
    }
}
.footer .navbar {
    background: $bottomnav-background-color !important;
}
