<div class="container" [@routerTransition] style="padding: 20px 0;">
	<h2 class="ng-tns-c7-2"><b class="ng-tns-c7-2">Contact us</b></h2>
	<div  class="row">
        <div class="col-lg-6">

            <form class="ng-tns-c24-13" role="form">
                <fieldset  class="form-group">
                    <label  class="ng-tns-c24-13">Enter Your Name</label>
                    <input  class="form-control">                    
                </fieldset>
                <fieldset  class="form-group">
                    <label  class="ng-tns-c24-13">Enter Your Email</label>
                    <input  class="form-control">                    
                </fieldset>
                <fieldset  class="form-group">
                    <label class="ng-tns-c24-13">Enter Your Message</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>
                <button class="btn btn-secondary" type="submit">Submit Button</button>
                

            </form>

        </div>
        <div  class="col-xl-6 text-xs-center">
            
                <div  class="card-block">
                    <p>
                <i class="fa fa-location-arrow"></i> Address :<br><span>
                    &nbsp;&nbsp;&nbsp;&nbsp;Yofferz.com, Nr Vardhman Mall,
                    Sector 23,Dwarka, New Delhi                   
                </span>
            </p>
            <p><i class="fa fa-phone-square"></i>  Telephone:<br><span>&nbsp;&nbsp;&nbsp;&nbsp;(+91) 9990468888 </span></p>
            <p><i class="fa fa-envelope"></i>  E-mail :<br><span>&nbsp;&nbsp;&nbsp;&nbsp;Support@Yofferz.com</span> </p>
                </div>
           
        </div>
    </div>
	
</div>
